.certs-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.certs-body-div {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1380px) {
  .certs-header {
    font-size: 35px;
  }

  .certs-body-div {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .certs-body-div {
    flex-direction: column;
    width: 100%;
  }

  .certs-header {
    font-size: 30px;
  }
}
